 #php_flag opcache.enable Off
 
 RewriteEngine On
 RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^download download.php [L]

 RewriteRule ^auth/login login.php [L]
 RewriteRule ^dashboard dashboard.php [L]
 RewriteRule ^cart/create create_quote.php [L]
 RewriteRule ^cart/catalog catalog.php [L]
 RewriteRule ^cart/import-prices import-prices.php [L]
 RewriteRule ^cart/product/* cart-product.php [L]
 RewriteRule ^projects/* projects.php [L]
 RewriteRule ^project/* project.php [L]
 RewriteRule ^admin/products/* products.php [L]
 
 RewriteRule ^quotes/* quotes.php [L]
 RewriteRule ^quote/* project.php [L]
 RewriteRule ^offer/* quote.php [L]
 RewriteRule ^admin/import/categories import_categories.php [L]
 RewriteRule ^admin/import/products import_products.php [L]
 RewriteRule ^admin/manage/products/list/* products_list.php [L]
 RewriteRule ^admin/manage/products manage_products.php [L]
 RewriteRule ^admin/import/users import_users.php [L]
 RewriteRule ^admin/import/clients import_clients.php [L]
 RewriteRule ^admin/import/designers import_designers.php [L]
 RewriteRule ^admin/import/projects import_projects.php [L]
 RewriteRule ^admin/import/scrapping import_scrapping_list.php [L]
 RewriteRule ^admin/users users.php [L]
 RewriteRule ^admin/user/* users.php [L]
 RewriteRule ^logistics/stock_locations stock_locations.php [L]
 RewriteRule ^logistics/stock_location/* stock_locations.php [L]
 RewriteRule ^logistics/vendor-invoices vendor_invoices.php [L]
 RewriteRule ^logistics/vendor-invoices/* vendor_invoices.php [L]
 RewriteRule ^logistics/import_stocks import_stocks.php [L]
 RewriteRule ^admin/regions regions.php [L]
 RewriteRule ^admin/countries/* countries.php [L]
  RewriteRule ^admin/vendors/* vendors.php [L]
 RewriteRule ^clients clients.php [L]
 RewriteRule ^client/* clients.php [L]
 RewriteRule ^admin/pcategories pcategories.php [L]
 RewriteRule ^admin/pcategory/* pcategories.php [L]
 RewriteRule ^admin/designers designers.php [L]
 RewriteRule ^admin/designer/* designers.php [L]
 RewriteRule ^admin/access/* access_table.php [L]
 RewriteRule ^admin/products/* products.php [L]
 RewriteRule ^logistics/stocks stocks.php [L]
 RewriteRule ^404 404.php [L]
 ErrorDocument 404 /404.php

 RewriteRule ^ajax/getMainCategories modules/admin/import/categories/controllers/get_main_categories.php [L]
 RewriteRule ^ajax/getCategories modules/admin/import/categories/controllers/get_categories.php [L]
 RewriteRule ^ajax/getCategoryProducts modules/admin/import/categories/controllers/get_category_products.php [L]
 RewriteRule ^ajax/insertCategory modules/admin/import/categories/controllers/insert_category.php [L]
 #RewriteRule ^ajax/getProduct modules/admin/import/products/controllers/get_product.php [L]
 RewriteRule ^cron/updateSylvaniaProductDetails crons/update_sylvania_product_details.php [L]
 RewriteRule ^ajax/syncSylvaniaProducts modules/admin/import/products/controllers/get_products.php [L]
 RewriteRule ^ajax/getProducts modules/admin/controllers/get_products.php [L]
 RewriteRule ^ajax/getDesigners modules/admin/controllers/get_designers.php [L]
 RewriteRule ^ajax/getProjectCategories modules/admin/controllers/get_project_categories.php [L]
 RewriteRule ^ajax/getClients modules/admin/controllers/get_clients.php [L]
 RewriteRule ^ajax/getAllClients modules/admin/controllers/get_all_clients.php [L]
 RewriteRule ^ajax/updateClientsActive modules/admin/controllers/update_clients_active.php [L]
 RewriteRule ^ajax/getCountries modules/admin/controllers/get_countries.php [L]
 RewriteRule ^ajax/getVendors modules/admin/controllers/get_vendors.php [L]
 RewriteRule ^ajax/getVendorInvoiceItemQuotes modules/admin/controllers/get_vendor_invoice_item_quotes.php [L]

 RewriteRule ^ajax/addOrderLine modules/admin/controllers/add_order_line.php [L]
 RewriteRule ^ajax/itemReception modules/admin/controllers/item_reception.php [L]
 RewriteRule ^ajax/itemReverseReception modules/admin/controllers/item_reverse_reception.php [L]
 RewriteRule ^ajax/getOrderLines modules/admin/controllers/get_order_split.php [L]
 RewriteRule ^ajax/removeOrderLine modules/admin/controllers/remove_order_split_item.php [L]
 RewriteRule ^ajax/removeInvoiceItem modules/admin/controllers/remove_invoice_item.php [L]
RewriteRule ^ajax/updateOrderLine modules/admin/controllers/update_order_split.php [L]
 
 RewriteRule ^ajax/addVendorInvoiceItems modules/admin/controllers/add_vendor_invoice_items.php [L]
 RewriteRule ^ajax/getVendorInvoicesList modules/admin/controllers/get_vendor_invoices_list.php [L]
 RewriteRule ^ajax/getVendorInvoiceItemsList modules/admin/controllers/get_vendor_invoice_items_list.php [L]
 RewriteRule ^ajax/getProjectStatus modules/admin/controllers/get_project_status.php [L]
 RewriteRule ^ajax/changeQuoteStatus modules/projects/controllers/change_quote_status.php [L]
 RewriteRule ^ajax/sendQuoteToClient modules/projects/controllers/send_quote.php [L]
 RewriteRule ^ajax/getQuotes modules/admin/controllers/get_quotes.php [L]
 RewriteRule ^ajax/getAccess modules/admin/controllers/get_access.php [L]
 RewriteRule ^ajax/getStockLocations modules/admin/controllers/get_stock_locations.php [L]
 RewriteRule ^ajax/getStockAvailableLocations modules/admin/controllers/get_stock_locations_available.php [L]
 RewriteRule ^ajax/getAllStocks modules/admin/controllers/get_all_stocks.php [L]
 RewriteRule ^ajax/getProductStocks modules/admin/controllers/get_product_stocks.php [L]
 RewriteRule ^ajax/updateStockQuantity modules/admin/controllers/update_stock_quantity.php [L]
 RewriteRule ^ajax/removeFromStockLocation modules/admin/controllers/remove_from_stock_location.php [L]
 RewriteRule ^ajax/searchProducts modules/cart/controllers/search_products.php [L]
 RewriteRule ^ajax/getProductsByCategory modules/cart/controllers/get_products_by_category.php [L]
 RewriteRule ^ajax/getCategoryBreadcrumbs modules/cart/controllers/get_category_breadcrumbs.php [L]
 RewriteRule ^ajax/addProduct modules/cart/controllers/add_product.php [L]
 RewriteRule ^ajax/addStock modules/cart/controllers/add_stock.php [L]
 RewriteRule ^ajax/addStock modules/cart/controllers/add_stock.php [L]
 RewriteRule ^ajax/updateWishlist modules/cart/controllers/update_wishlist.php [L]
 RewriteRule ^ajax/getWishlist modules/cart/controllers/get_wishlist.php [L]
 RewriteRule ^ajax/viewWishlistProducts modules/cart/controllers/get_wishlist_products.php [L]
 RewriteRule ^ajax/getproductQuotes modules/cart/controllers/get_product_quotes.php [L]

 

 RewriteRule ^ajax/getUsers modules/profiles/controllers/get_users.php [L]

 RewriteRule ^ajax/getAllUsers modules/profiles/controllers/get_all_users.php [L]

 RewriteRule ^ajax/getUserTypes modules/profiles/controllers/get_user_types.php [L]

RewriteRule ^ajax/updatePrices modules/cart/controllers/update_prices.php [L]

RewriteRule ^ajax/importProductsCSV modules/cart/controllers/import_products_csv.php [L]

RewriteRule ^ajax/addProject modules/projects/controllers/add_project.php [L]

RewriteRule ^ajax/getProjects modules/projects/controllers/get_projects.php [L]

RewriteRule ^ajax/getRejectionReason modules/projects/controllers/get_rejection_reason.php [L]

RewriteRule ^ajax/updateQuantity modules/projects/controllers/update_quantity.php [L]

RewriteRule ^ajax/updateQuote modules/projects/controllers/update_quote.php [L]

RewriteRule ^ajax/updateItems modules/projects/controllers/update_quote_items.php [L]

RewriteRule ^ajax/updateItemOrderDetails modules/projects/controllers/update_item_order_details.php [L]

RewriteRule ^ajax/updateVendorInvoiceItems modules/admin/controllers/update_vendor_invoice_items.php [L]

RewriteRule ^ajax/updateMaster modules/projects/controllers/update_master.php [L]

RewriteRule ^ajax/uploadCustomProductImage modules/projects/controllers/upload_custom_product_image.php [L]

RewriteRule ^ajax/uploadFile common/backend/upload_file.php [L]

RewriteRule ^ajax/getImageBase common/backend/get_image_base.php [L]

RewriteRule ^ajax/createQuote modules/projects/controllers/create_quote.php [L]

RewriteRule ^ajax/createPackage modules/projects/controllers/create_package.php [L]

RewriteRule ^ajax/removePackage modules/admin/controllers/remove_package.php [L]

RewriteRule ^ajax/updatePackageItem modules/projects/controllers/update_package_Item_quantity.php [L]

RewriteRule ^ajax/addItemsToQuote modules/projects/controllers/add_quote_items.php [L]

RewriteRule ^ajax/addItemsToPackage modules/projects/controllers/add_package_items.php [L]

RewriteRule ^ajax/addTemporaryItemsToQuote modules/projects/controllers/add_temporary_quote_items.php [L]

RewriteRule ^ajax/removeItemsFromQuote modules/projects/controllers/remove_quote_items.php [L]

RewriteRule ^ajax/removeFilesFromQuote modules/projects/controllers/remove_quote_files.php [L]

RewriteRule ^ajax/logout modules/auth/controllers/logout-controller.php [L]

RewriteRule ^ajax/addUsers modules/admin/import/elements/controllers/add_users.php [L]

RewriteRule ^ajax/addStocks modules/admin/import/elements/controllers/add_stocks.php [L]

RewriteRule ^ajax/addClients modules/admin/import/elements/controllers/add_clients.php [L]

RewriteRule ^ajax/addDesigners modules/admin/import/elements/controllers/add_designers.php [L]

RewriteRule ^ajax/importProject modules/admin/import/elements/controllers/add_projects.php [L]

RewriteRule ^ajax/importScrapping modules/admin/import/elements/controllers/add_scrapping_list.php [L]

RewriteRule ^ajax/getDashboardProjects modules/dashboard/controllers/get_projects_data.php [L]

RewriteRule ^ajax/getDashboardQuotes modules/dashboard/controllers/get_quotes_data.php [L]

RewriteRule ^ajax/confirmQuote modules/projects/controllers/confirm_quote.php [L]

RewriteRule ^ajax/addComment modules/projects/controllers/add_comment.php [L]

RewriteRule ^ajax/getComments modules/projects/controllers/get_comments.php [L]

RewriteRule ^ajax/getQuoteStatusLog modules/projects/controllers/get_quote_status_log.php [L]

RewriteRule ^ajax/saveFilesToQuote modules/projects/controllers/save_quote_files.php [L]

RewriteRule ^ajax/getQuoteFiles modules/projects/controllers/get_quote_files.php [L]

RewriteRule ^ajax/getQuotePackages modules/projects/controllers/get_quote_packages.php [L]

RewriteRule ^ajax/getPackageItems modules/projects/controllers/get_package_items.php [L]

RewriteRule ^ajax/getLastPrices modules/projects/controllers/get_last_prices.php [L]

RewriteRule ^ajax/getProjectComments modules/projects/controllers/get_all_comments.php [L]

RewriteRule ^ajax/duplicateQuoteItems modules/projects/controllers/duplicate_quote_items.php [L]

RewriteRule ^ajax/getImportProductsFromList modules/admin/manage/controllers/get_import_product_from_list.php [L]

RewriteRule ^ajax/getImportProductLists modules/admin/manage/controllers/get_import_lists.php [L]

RewriteRule ^ajax/aquision modules/admin/manage/controllers/aquisition.php [L]

RewriteRule ^ajax/importProductList modules/admin/manage/controllers/import_product_list.php [L]

RewriteRule ^ajax/importListProducts modules/admin/manage/controllers/import_list_products.php [L]

RewriteRule ^ajax/updateProductsFromList modules/admin/manage/controllers/update_products_from_list.php [L]

RewriteRule ^ajax/setMergeId modules/admin/controllers/set_merge_id.php [L]

RewriteRule ^ajax/replaceQuoteItemsOldProduct modules/admin/manage/controllers/update_quote_items_product.php [L]

RewriteRule ^ajax/updateImportListStatus modules/admin/manage/controllers/update_import_list_status.php [L]

RewriteRule ^ajax/getDuplicatesStatus modules/admin/manage/controllers/get_duplicates_status.php [L]

RewriteRule ^ajax/getAffectedQuoteItems modules/admin/manage/controllers/get_affected_quote_items.php [L]

RewriteRule ^ajax/getNeedDeactivationProducts modules/admin/manage/controllers/get_need_deactivation_products.php [L]

RewriteRule ^ajax/deactivateNeededProducts modules/admin/manage/controllers/deactivate_needed_products.php [L]

RewriteRule ^ajax/getLegacyUpdateStatus modules/admin/manage/controllers/get_legacy_update_status.php [L]

RewriteRule ^ajax/updateLegacyProducts modules/admin/manage/controllers/update_legacy_products.php [L]